@charset "utf-8";
.bgfix {
	height: 300px;
	border: 1px solid #828282;
	background-color: #FFBDBF;
}
.bgfix2 {
	height: 300px;
	background-color: #F7C5F6;
	border-width: 1pt;
	border-style: solid;
}
.nam1 {
	border: 1px solid #CF8AFD;
}
